---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Curiculume Vitae" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="ELEMENTARY SCHOOL"
      subtitle="[2009] to [2015] at [SD MUHAMMADIYAH 1 PONOROGO], [Ponorogo], [Indonesia]"
    />
    <TimeLineElement
      title="JUNIOR HIGH SCHOOL"
      subtitle="[2015] to [2018] at [SMP TERPADU PONOROGO], [Ponorogo], [Indonesia]"
    />
    <TimeLineElement
      title="SENIOR HIGH SCHOOL"
      subtitle="[2018] to [2021] at [SMA MUHAMMADIYAH 1 PONOROGO], [Ponorogo], [Indonesia]"
    />
    <TimeLineElement
      title="UNIVERSITY"
      subtitle="[2021] to [2025 Aamiin..] at [UNIVERSITAS MUHAMMADIYAH PONOROGO], [Ponorogo], [Indonesia]"
    />
  </div>

  <!--<div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.credly.com/badges/7797cea9-c464-4489-9408-837a605f185b/public_url" target="_blank"> Network Defense (Cisco Network Academy)</a>
    </li>
    <li>
      <a href="https://www.credly.com/badges/38bc3ecd-b223-486d-934e-1377f2e876b3/public_url" target="_blank"> CCNA: Introduction to Network (Cisco Network Academy)</a>
    </li>
    <li>
      <a href="https://www.credly.com/badges/3fe1aadd-e78d-479c-b319-78f7ee4072a4/public_url" target="_blank"> Endpoint Security (Cisco Network Academy)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-2 columns-2 mx-4">
    <li>Editing Software (Adobe Family)</li>
    <li>Editing Software (Corel Draw)</li>
    <li>Office Software (Microsoft 365)</li>
    <li>Programming Software (VSCode, Android Studio, dsb.)</li>
    <li>Broadcasting (OBS Studio, VMix, Resolume)</li>
  </ul>
</BaseLayout>
